.cards {
  /* background-color: red; */
  display: flex;
  height: 75vh;
  /* position: relative; */
  /* only one or the other? */
  /* width: 100%; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* height: 100vh; */
}

/* .card__text {
  height: 30%;
  padding: 10%;
} */

.cards--primary {
  background-image: url("../images/tyler-b-72vLY-QMd3w-unsplash.jpg");
  background-size: 100%;
  border: 15px solid white;
  width: 70vw;
  height: 30vh;
}

.cards--secondary {
  background-image: url("../images/david-clode-J1E6XzW1INk-unsplash.jpg");
  background-size: 100%;
  border: 15px solid white;
  width: 70vw;
  height: 30vh;
}

/* .card--primary,
.card--secondary {
  display: flex;
} */

.button {
  align-self: center;
}
